In [7]:
import pandas as pd

In [21]:
df = pd.read_csv("data/sentiments.csv")
df.head(4)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)

In [2]:
'''
The dataset consists of the "tweets" of airline passangers giving a
feedback on a resent flight. Each row contains a sentiment, sentiment
confidence and optionally the negative reason of a tweet. We also have
information about the airline being used, and some details about the
"tweet", like location, time created
'''

'\nThe dataset consists of the "tweets" of airline passangers giving a\nfeedback on a resent flight. Each row contains the sentiment, sentiment\nconfidence and optionally the negative reason of a tweet. We also have\ninformation about the airline being used, and some details about the\n"tweet"\n'

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [ ]:
'''
We can see that some attrubutes (negativereason, airline_sentiment) have
a *_gold pair with much less data. Those attributes would be ommited
'''

In [19]:
df = df.drop(["airline_sentiment_gold", "negativereason_gold"], axis=1)

In [15]:
df.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692184e+17,0.900169,0.638298,0.082650
std,7.791112e+14,0.162830,0.330440,0.745778
min,5.675883e+17,0.335000,0.000000,0.000000
25%,5.685592e+17,0.692300,0.360600,0.000000
50%,5.694779e+17,1.000000,0.670600,0.000000
75%,5.698905e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

In [ ]:
'''
The dataset contains 14640 "tweets".
Most airline sentiment confidence values are high: 50% percentile = 1.
Negative reason confidence varies more: 50% percentile ~ 0.67.
Retweets are rare, with most tweets having 0, though a few reach up to 44.
'''

In [23]:
df.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [ ]:
'''
The fact that `negativereason` has more missing entries than
`negativereason_confidence` means that some entries of the latter may have
trivial values like zeros. `tweet_coords` have a lot of missing entries,
but we are enough to have the `airline` info  and the `tweet_created`
(both with 0 null values)
'''

In [26]:
df.duplicated().sum()

np.int64(36)

In [36]:
'''
There are some (36) duplicate rows, but removing those will not make the
dataset critically smaller.
'''
duplicates_cnt = df.duplicated().sum()
total_cnt = df.shape[0]
print(f"{(duplicates_cnt / total_cnt) * 100}% of duplicates")

0.24590163934426232% of duplicates

In [41]:
subset = df[["airline", "airline_sentiment", "text", "tweet_created"]]

subset.sort_values(by="tweet_created", ascending=False).head(10)

,airline,airline_sentiment,text,tweet_created
8966,US Airways,negative,@USAirways is there a better time to call? My...,2015-02-24 11:53:37 -0800
8967,US Airways,negative,@USAirways and when will one of these agents b...,2015-02-24 11:51:48 -0800
6746,Delta,positive,@JetBlue Yesterday on my way from EWR to FLL j...,2015-02-24 11:48:38 -0800
8968,US Airways,neutral,@USAirways is a DM possible if you aren't foll...,2015-02-24 11:48:37 -0800
6747,Delta,neutral,@JetBlue I hope so because I fly very often an...,2015-02-24 11:48:29 -0800
4326,Southwest,negative,@SouthwestAir still waiting. Just hit one hour.,2015-02-24 11:47:53 -0800
4327,Southwest,negative,@SouthwestAir although I'm not happy you Cance...,2015-02-24 11:47:50 -0800
8969,US Airways,neutral,@USAirways Fortunately you have staff like Lyn...,2015-02-24 11:47:16 -0800
8970,US Airways,negative,@USAirways just hung up on me again. Another ...,2015-02-24 11:46:28 -0800
6748,Delta,neutral,"@JetBlue flight 1041 to Savannah, GA",2015-02-24 11:45:20 -0800

In [ ]:
'''
Sorted the subset of data by `tweet_created`. That might be helpful if
researching the possible shifts of the average passangers' sentiment.
Whether the airlines get better over time etc.
'''